* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: #fff;
  line-height: 1.7;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(15,23,42,0.95);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.logo-icon {
  background: #38bdf8;
  color: #000;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-content {
  margin-top: 60px;
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: #38bdf8;
}

.hero p {
  margin: 20px auto;
  max-width: 600px;
  color: #cbd5e1;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.btn-outline {
  padding: 12px 25px;
  border: 2px solid #38bdf8;
  color: #38bdf8;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #38bdf8;
  color: black;
}

.section {
  padding: 100px 0;
  text-align: center;
}

.dark {
  background: #1e293b;
}

.section-title {
  margin-bottom: 20px;
  font-size: 28px;
}

.section-desc {
  max-width: 700px;
  margin: auto;
  color: #cbd5e1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.skill {
  margin: 25px 0;
  text-align: left;
}

.skill-bar {
  background: #334155;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  border-radius: 5px;
}

.html { width: 100%; background: #e34c26; }
.css { width: 95%; background: #264de4; }
.js { width: 90%; background: #f0db4f; }

.contact-box p {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  color: #94a3b8;
}

/* Responsive */
@media (max-width: 768px) {
  
  }
